.container
{
    max-width: 1000px;
    margin: auto;
}
.container >header > a > .logo
    {
        position: relative;
        left: 50px;
        top: 2px;
    }
    .menu>ul>li
    {
        display: inline-block;
        position: relative;
    }
    .menu>ul> .user
    {
        margin-left: 230px;
    }
    .menu>ul>li>a
    {
        display: block;
        text-decoration: none;
        font-variant: small-caps;
        color: white;
        padding: 0 10px;
        line-height: 40px;
        font-size: small;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .menu>ul
    {
        padding: 0px;
        margin: 0px;
        list-style: none;
        border-radius: 3px;
        background-color:  gray;
    }
    .menu>ul>li>a:hover
    {
        color: black;
        background-color: aliceblue;
    }
    .menu ul ul
    {
        position: absolute;
        display: none;
        padding: 0px;
        margin: 0px;
        list-style: none;
        border-radius: 3px;
        width: 200px;
        background-color: white;
        box-shadow: 0 0 1px gray;
    }
    .menu ul ul a
    {
        font-variant: small-caps;
        display: block;
        line-height: 30px;
        text-decoration: none;
        padding: 0 10px;
        font-size: x-small;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .menu>ul>li:hover>ul
    {
        display: block;
    }
    .menu ul ul a:hover
    {
        background-color: gray;
        color: white;
    }
    .end
    {
        background-color: #323232;
    }
    .end > .Supportmore
    {
        position: relative;
        left: 200px;
        top: 18px;
        font-size: x-small;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: aliceblue;
        font-variant: small-caps;
    }
    .end > .Supportaccount
    {
        position: relative;
        left: 350px;
        bottom: 55px;
        font-size: x-small;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: aliceblue;
        font-variant: small-caps;
    }
    .end > .informationcontact
    {
        position: relative;
        left: 550px;
        bottom: 142px;
        font-size: x-small;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: aliceblue;
        font-variant: small-caps;
    }
    .end > .informationcontact ul a
    {
        text-decoration: none;
        color: brown;
        font-variant: small-caps;
    }
    .end > .Supportaccount ul a
    {
        text-decoration: none;
        color: aliceblue;
        font-variant: small-caps;
    }
    .end > .Supportmore ul a
    {
        text-decoration: none;
        color: aliceblue;
        font-variant: small-caps;
    }
    .menuduoi .thefirst
    {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: black;
        font-variant: small-caps;
        font-size: small;
        position: relative;
        right: 10px;
        bottom: 80px;
    }
    .menuduoi .thefirst .sub-menu a
    {
        text-decoration: none;
    }
    .sale
    {
        text-align: right;
        position: relative;
        right: 150px;
        bottom: 140px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: black;
        font-variant: small-caps;
    }
    .sale > img
    {
        position: relative;
        left: 120px;
        top: 10px;
    }
    .sale > hr
    {
        position: relative;
        left: 100px;
        border: none;
        height: 1px;
        /* Set the hr color */
        color: #333;
        background-color: #333;
    }